# Database Configuration
DB_USER=postgres
DB_PASS=postgres
DB_NAME=kamus
DB_HOST=db
DB_PORT=5432

# URL for production/dev connectivity
DATABASE_URL=postgresql://postgres:postgres@db:5432/kamus

# Frontend Connectivity
API_URL=http://localhost:8000

# Other environment-specific variables
# NODE_ENV=development
