#! Kamus Bahasa Moy Global Environment Variables

#! Frontend
PUBLIC_API_URL=http://localhost:8000

NODE_ENV=development

#! Bakcend
# Database configuration for PostgreSQL
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kamus

# Database configuration for SQLite (uncomment the line below and comment out the above lines)
# DATABASE_URL=sqlite:///./kamus.db
