---
import MainLayout from "@/layouts/MainLayout.astro";
import { Button } from "@/components/ui/button";
import Link from "@/components/Link.astro";
---

<MainLayout
  title="Beranda | Kamus Bahasa Moy"
  description="Aplikasi kamus bahasa Moy dari Jayapura, Papua dengan terjemahan bahasa Indonesia"
>
  <div class="grid place-items-center h-screen content-center">
    <p class="pb-4 max-w-md text-center">
      Selamat datang di Kamus Bahasa Moy, aplikasi kamus bahasa Moy dari
      Jayapura, Papua dengan terjemahan bahasa Indonesia.
    </p>
    <Button variant="outline" size="sm">
      <Link href="/tentang/">Tentang Kami</Link>
    </Button>
  </div>
</MainLayout>
