---
import MainLayout from "@/layouts/MainLayout.astro";
import Home from "@/components/Home";
---

<MainLayout
  title="Beranda | Kamus Bahasa Moy"
  description="Aplikasi kamus bahasa Moy dari Jayapura, Papua dengan terjemahan bahasa Indonesia"
>
  <main class="h-screen bg-white mx-auto px-4 md:px-8">
    <Home client:load />
  </main>
</MainLayout>
