---
import MainLayout from "@/layouts/MainLayout.astro";
import Home from "@/components/Home";
---

<MainLayout
  title="Beranda"
  description="Kamus Bahasa Moy adalah proyek yang dikembangkan untuk membantu melestarikan dan mempromosikan bahasa Moy dari Jayapura, Papua."
>
  <main class="mx-auto px-4 md:px-8">
    <Home client:load />
  </main>
</MainLayout>
